#/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/vendor/
/composer.phar

/nbproject/

/app/config/parameters.yml
/app/phpunit.xml
/app/phing/build.properties

/connect
/backups/*
/.rsync_cache
*~

!*.gitkeep