{% extends '::base.html.twig' %}

{% block title %}My Title{% endblock %}

{% block head_style %}
    {% stylesheets filter='lessphp,cssembed,?yui_css'
        '@DanMainBundle/Resources/public/less/index.less'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"
            media="screen" />
    {% endstylesheets %}
    <style type="text/css" >
        #todo-list li .edit {
            display: none;
        }
    </style>
{% endblock head_style %}

{% block body %}
    {% block container %}
        <div class="container">
            <div class="content">
                    {% block content %}
                        <div id="todoapp">
                            <header>
                                <h1>Todos</h1>
                                <input id="new-todo" type="text" placeholder="What needs to be done?">
                            </header>
                            <section id="main">
                                <input id="toggle-all" type="checkbox">
                                <label for="toggle-all">Mark all as complete</label>
                                <ul id="todo-list"></ul>
                            </section>

                            <footer>
                                <a id="clear-completed">Clear completed</a>
                                <div id="todo-count"></div>
                            </footer>
                        </div>
                    {% endblock content %}
            </div>
        </div>
    {% endblock container %}
    <script type="text/template" id="item-template">
        <div class="view">
            <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
            <label><%- title %></label>
            <a class="destroy"></a>
        </div>
        <input class="edit" type="text" value="<%- title %>" />
    </script>

    <script type="text/template" id="stats-template">
        <% if (done) { %>
            <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
        <% } %>
        <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
    </script>
{% endblock %}

{% block foot_script %}
    {# '@DanMainBundle/Resources/public/js/backbone-relational.js' #}
    {% javascripts
            'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
            'http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js'
            '@DanMainBundle/Resources/public/js/underscore.js'
            '@DanMainBundle/Resources/public/js/backbone.js'
            '@DanMainBundle/Resources/public/js/backbone.localStorage-min.js'
            '@DanMainBundle/Resources/public/js/index.js'
            '@DanMainBundle/Resources/public/bootstrap/js/bootstrap-transition.js'
            '@DanMainBundle/Resources/public/bootstrap/js/bootstrap-modal.js'
            '@DanMainBundle/Resources/public/bootstrap/js/bootstrap-dropdown.js'
            '@DanMainBundle/Resources/public/bootstrap/js/bootstrap-scrollspy.js'
            '@DanMainBundle/Resources/public/bootstrap/js/bootstrap-tab.js'
            '@DanMainBundle/Resources/public/bootstrap/js/bootstrap-tooltip.js'
            '@DanMainBundle/Resources/public/bootstrap/js/bootstrap-popover.js'
            '@DanMainBundle/Resources/public/bootstrap/js/bootstrap-alert.js'
            '@DanMainBundle/Resources/public/bootstrap/js/bootstrap-button.js'
            '@DanMainBundle/Resources/public/bootstrap/js/bootstrap-collapse.js'
            '@DanMainBundle/Resources/public/bootstrap/js/bootstrap-carousel.js'
            '@DanMainBundle/Resources/public/bootstrap/js/bootstrap-typeahead.js'
            filter="?yui_js"
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock foot_script %} 
