{% extends 'IabadabaduMainBundle::layout.html.twig' %}

{% set bootstrap=true %}

{% block content %}
    <div style="margin: 0 auto; text-align: center;">
        <h3>Hai dimenticato la password?</h3>
        <br/>
        <div class="well" style="width:50%; margin: 0 auto; text-align: left;" >
            {% block fos_user_content %}
                <p>
                    Il ripristino della password di questo utente è già stato chiesto nelle ultime 24 ore.<br/>
                    Per ragioni di sicurezza non è possibile reimpostare la password per 24 ore.<br/><br/>
                    
                    Ci scusiamo per il disagio,<br/><br/>                
                    Lo staff di Arbo
                </p>
            {% endblock %}
        </div>
    </div>
{% endblock %}

