{% extends 'DanMainBundle::layout.html.twig' %}

{% block title %}Ventoonirico's collection{% endblock %}
{% block content %}
    <div id="app"></div>
{% endblock %}
    
{% block templates %}
    {{parent()}}
    {% include 'DanMainBundle:Default:index/templates.html.twig' %}
{% endblock%}
