ul.dan_tagit {
    height: 0px;
    width: 0px;
    overflow: hidden;
}

ul.tagit {
    height: auto;
    width: auto;
    overflow: hidden;
}

ul.tagit li.tagit-new input[type="text"] {
    width: 15px;
}

ul.tagit li.tagit-new input[type="text"]:focus {
    width: auto;
}